.content {
    padding-left: 180px;
    padding-right: 180px;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.content h2{
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content h3{
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.content h4{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    display: flex;
    align-items: left;
}
.content img{
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 1px 1px 5px grey;
}